<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/home.css">
    <title>Home</title>
</head>

<body>
    <div class="login-container">
        {% if user.is_authenticated %}
            <h1>Welcome, {{ user.username }}!</h1>
            <p><a href="{% url 'question:logout' %}">Logout</a></p>
        {% else %}
            <h1 class="login-title">Log in</h1>
            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}
            <form method="post" class="login-form">
                {% csrf_token %}
                <div class="input-group">
                    <label for="username">
                        <i class="fas fa-envelope"></i>
                        <input type="text" id="username" name="username" placeholder="Username">
                    </label>
                </div>
                <div class="input-group">
                    <label for="password">
                        <i class="fas fa-lock"></i>
                        <input type="password" id="password" name="password" placeholder="Password">
                    </label>
                </div>
                <button type="submit" class="login-button">Log in</button>
            </form>
            <p><a href="{% url 'question:signup' %}">Sign Up</a></p>
        {% endif %}
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>

</html>
