<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/signup.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <title>Sign Up</title>
</head>
<body>
    <div class="signup-container">
        <h1 class="signup-title">Registration</h1>
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
        <form method="post" class="signup-form">
            {% csrf_token %}
            <div class="input-group">
                <label for="username">Nickname</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="input-group">
                <label for="password_confirm">Password Confirmation</label>
                <input type="password" id="password_confirm" name="password_confirm" required>
            </div>
            <button type="submit" class="signup-button">Register!</button>
        </form>
        <p><a href="index.html" class="back-link">Back to login</a></p>
    </div>
</body>
</html>
